Repository cityofaustin/atd-knack, pull requests merged in 2021-07, with the labels that each got.

#64 RPP: JS - Convert to Uppercase
  code/residential-parking-permits/rpp.js
Labels: JavaScript, Knack, bug, documentation

#63 6586 - mobile menu for TIA
  code/transportation-development-services/tds.css
  code/transportation-development-services/tds.js
Labels: CSS, JavaScript, Knack, enhancement

#54 Updated Naming, Content, Report, & Button Styling
  code/transportation-development-services/tds.css
  code/transportation-development-services/tds.js
Labels: CSS, JavaScript, Knack, bug, enhancement

#65 TDS - Update Back Button Border
  code/transportation-development-services/tds.css
Labels: CSS, Knack, enhancement
