Repository cityofaustin/atd-knack, pull requests merged in 2024-08, with the labels that each got.

#164 Add Print buttons for Reviewer page in Mobility Services Portal (MSP)
  code/mobility-services/mobility-services.css
  code/mobility-services/mobility-services.js
Labels: enhancement, CSS, JavaScript, Knack

#166 Update shared-mobility-smrt.css
  code/shared-mobility/shared-mobility-smrt.css
Labels: CSS, Knack

#165 MSP - Changed input validation from 11 to last 4 digits only
  code/mobility-services/mobility-services.js
Labels: enhancement, JavaScript, Knack
