Repository cityofaustin/atd-knack, pull requests merged in 2025-04, with the labels that each got.

#192 [ROW Portal] Redirect, Button, Menu, & Override JS & CSS updates
  code/right-of-way/right-of-way.css
  code/right-of-way/right-of-way.js
Labels: bug, enhancement, CSS, JavaScript, Knack

#193 [TDS Portal] Update Redirects JS
  code/transportation-development-services/tds.js
Labels: bug, documentation, JavaScript, Knack

#191 Added delete trigger button CSS styling on Edit Plant form in OCE app
  code/office-city-engineer/oce.css
Labels: enhancement, CSS
