Repository cityofaustin/atd-knack, pull requests merged in 2025-01, with the labels that each got.

#169 Operating Authority Added Dropdown Menu View, Step Indicator, Print Notary
  code/mobility-services/mobility-services.css
  code/mobility-services/mobility-services.js
Labels: CSS, JavaScript, Knack

#172 TCP CMU JS Updates
  code/right-of-way/right-of-way.js
Labels: enhancement, JavaScript, Knack, new feature

#171 TCP CMU CSS Updates
  code/right-of-way/right-of-way.css
Labels: enhancement, CSS, Knack, new feature

#176 Traffic Register Go Live JS Update
  code/traffic-register/traffic-register.js
Labels: enhancement, JavaScript, Knack

#175 Traffic Register Go Live CSS Update
  code/traffic-register/traffic-register.css
Labels: enhancement, CSS, Knack, new feature

#174 TDS Portal SIF Module JS Updates
  code/transportation-development-services/tds.js
Labels: enhancement, JavaScript, Knack

#158 Update smart-mobility.js disable breadcrumbs links for new LS EOI
  code/smart-mobility/smart-mobility.js
Labels: JavaScript

#170 Add logistic big button.js
  code/hr/hr.js
Labels: JavaScript, Knack

#167 Update hr.css
  code/hr/hr.css
Labels: CSS, Knack

#156 Updating CSS for Pizza Tracking feature in Data Tracker
  code/data-tracker/data-tracker.css
Labels: CSS, Knack

#177 Update finance-purchasing.css
  code/finance-puchasing/finance-purchasing.css
Labels: CSS, Knack
